*{
	margin:0;
	padding: 0;
	font-family: 'Poppins' , sans-serif;

	box-sizing: border-box;
}
body{
    background-color: #333;
}


.search-box{  
	/* width: 600px; */
	background: #fff;
	/* margin:200px auto 0; */
	border-radius: 5px;
    text-align: center;
    padding: 100px 0;
    display: flex;
    /* justify-content: space-between; Distributes space between search bars */
    flex-wrap: wrap; 
    border-color: #333;
}
input{
	flex: 1;
	height: 50px;
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 18px;
	color: #333;
} 
.row{
    /* padding: 10px; */
    color: rgb(155, 93, 17);
    display: flex;
	align-items: center;
	padding: 10px 20px;
}
.candidate-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.result-box ul{
	border-top: 1px solid #999;
	padding: 15px 10px;
}
.result-box ul li{
	list-style: none;
	border-radius: 3px;
	padding: 15px 10px;
	cursor: pointer;
	
}
.result-box ul li:hover{
	background: #e9f3ff;
}